# INSTALL/docker/Caddyfile

# Configuration pour votre application
{
    log {
        output file /var/log/caddy/caddy.log
    }
}

{$MY_DOMAIN}:3000 {
    import security_headers
    encode gzip zstd

    handle_path /socket/* {
        reverse_proxy socketserver:3001
    }

    # header *.js Content-Type application/javascript
    @settings path_regexp ^/settings/(.*)$
    rewrite @settings /settings.html?page={re.1}

    handle {
        root * /var/www/html
        try_files {path} {path}.html /index.html
        file_server
    }
}

{$MY_DOMAIN}:1337 {
    reverse_proxy strapi:1337
}



(security_headers) {
    header {
        # Active une protection contre le "clickjacking"
        X-Frame-Options "SAMEORIGIN"
        # Bloque le contenu si une attaque XSS est détectée
        X-XSS-Protection "1; mode=block"
        # Empêche le navigateur de "deviner" le type de contenu
        X-Content-Type-Options "nosniff"
        # Politique de sécurité de contenu (un exemple simple)
        # Attention: 'unsafe-inline' est nécessaire pour les styles en ligne, mais moins sécurisé.
        Content-Security-Policy "default-src 'self'; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline'; connect-src 'self' ws: wss:;"
    }
}

# === A TESTER =============================================================================================
# {$MY_DOMAIN}:8080 {
#     import security_headers
#     reverse_proxy localhost:8080
# }